.head {
  background-color: var(--primary-color);
  padding: 2rem var(--default-side-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.text-container {
  justify-self: start;
}

.head > img {
  width: 200px;
  justify-self: end;
}

.text-container > h1 {
  color: var(--light-color);
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-container > p {
  color: var(--light-color);
  font-size: 20px;
  line-height: 1.6;
}
