.cli {
  margin: 0em 0em;
  padding: 1em var(--default-side-padding);
}

.cli-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  align-items: center;
  justify-items: center;
}

.cli-grid > img {
  grid-column: span 2;
  grid-row: span 2;
}

.cli-grid div {
  grid-column: 3;
}
