.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.display-row {
  flex-direction: row;
}

.display-row-reverse {
  flex-direction: row-reverse;
}

.display-column {
  flex-direction: column;
}

.display-column-reverse {
  flex-direction: column-reverse;
}

.card:hover {
  transform: translateY(-15px);
  transition: transform 0.2s ease-in;
}

.card > img {
  /* height: 0%; */
}
